.wrraper
  .top__header
    .top__header2
      .top__header_content
        DIET-RECORD

  .top__main
    .top__signup_btn_box
      =link_to "Sign Up", "/users/sign_up", class:"top__signup_btn"
    .top__signin_btn_box
      =link_to "Sign In", "/users/sign_in", class:"top__signin_btn"
         
