.wrraper
  .top__header
    .top__header2
      .top__header_content
        DIET-RECORD

  .top__main
    .top__signup_btn_box
      =link_to "#", class:"top__signup_btn" do
        Sign Up
    .top__signin_btn_box
      =link_to "#", class:"top__signin_btn" do
        Sign In 