.session__new_body{
  background:url("sozai_image_103539.jpg");
  background-size: 90%;
  height: 100vh;
  width: 100vw;
  // display:flex;
  // justify-content: center;
  // align-items: center;
}

.wrapper {    
	margin-top: 70px;
	margin-bottom: 20px;
}

.form-signup {
  width: 420px;
  padding: 30px 38px 66px;
  margin: 100px auto 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signup-heading {
  text-align:center;
  margin-bottom: 20px;
  font-family:'Press Start 2P', cursive;
  color: red;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  margin: 15px 0;
  text-align: center;
}

// input[type="text"] {
//   margin-bottom: 0px;
//   border-bottom-left-radius: 0;
//   border-bottom-right-radius: 0;
// }

// input[type="password"] {
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
// }

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.button{
  margin-top: 50px;
}
.actions {
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Press Start 2P', cursive;
}
.actions {
  padding: .65em 4em;
  background: -webkit-linear-gradient(#fe5f95 , #ff3f7f);
  background: linear-gradient(#fe5f95 , #ff3f7f);
  border: 1px solid #fe3276;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.actions::after {
  position: absolute;
  bottom: -15px;
  left: 50%;
  z-index: -1;
  content: '';
  width: 100%;
  height: 24px;
  background-color: rgba(0,0,0,.1);
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.actions:hover span {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.actions:hover::after {
  width: 70%;
  height: 18px;
}