// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.postTitle1 {
  font-size: 28px;
  text-align: center;
  color: orangered;
}

a {
  font-family:'Press Start 2P', cursive;
  align-items: center;
}